rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // AQUÍ pega el UID del usuario administrador
    // (Consola Firebase > Authentication > tu usuario > UID)
    function esAdmin() {
      return request.auth != null && request.auth.uid == '9psM4IG12TeLTaTL1FHiP9Z2OTv2';
    }

    match /productos/{id} {
      // Lectura pública para el catálogo
      allow read: if true;
      // Escritura solo del admin
      allow create, update, delete: if esAdmin();
    }

    match /categorias/{id} {
      // Lectura pública para el catálogo
      allow read: if true;
      // Escritura solo del admin
      allow create, update, delete: if esAdmin();
    }

    match /combos/{id} {
      // Lectura pública para el catálogo
      allow read: if true;
      // Escritura solo del admin
      allow create, update, delete: if esAdmin();
    }
  }
}